body {
    background-color: rgba(228,8, 8, 0.726));
}

h1{
    text-align: center;
    color: rgb(4, 0, 255);
}
img{
    margin-left: 36%;
}

nav li{
    display: inline;
    margin: 20px;
    font-size: 1em;
}

nav a {
    color: rgb(25, 10, 55);
}

nav a:hover {
    color: rgb(224, 0, 0);
}
footer{
    text-align: center;
}